$font-sans-serif = Helvetica, sans
$font-serif = Georgia, serif

$font-family = $font-sans-serif
$header-font-family = $font-family

$font-size = 1em
$line-height = $font-size * 1.5

$body-color = white

$font-color = darkgray
$accent-color = green

$link-color = $accent-color
$hover-link-color = darken($accent-color, 15%)

$border-color = lightgray

$gutter = 30px
