<!DOCTYPE html>
<html>
  <head>
    <title>BRouter Online</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/static/js/vendors/leaflet/leaflet.css">
    <link rel="stylesheet" href="/static/js/vendors/leaflet-elevation/Leaflet.Elevation-0.0.2.css">
    <link rel="stylesheet" href="/static/js/vendors/leaflet-zoomslider/L.Control.Zoomslider.css">
    <link rel="stylesheet" href="/static/build/app.css">
  </head>
  <body>
    <script id="toolbox" type="text/ractive">
      <section class="main">
        <header>
          <img src="/static/gfx/bike.svg" class="logo">
          <strong>BRouter</strong>
        </header>
        <div class="inner">
          <ul>
            <%#waypoints:i%>
            <li>
              <label>
                <input type="text" value="<% address %>" placeholder="<%#i==0%>Select starting point<%/i%><%#i==waypoints.length-1%>End point<%/i%>" on-keydown="search">
              </label>
            </li>
            <%/waypoints%>
          </ul>
        </div>
        <footer>
          <div class="stretch">
            <select value="<% profile %>">
              <%# profiles:name %>
                <option value="<% name %>"><% . %></option>
              <%/ profiles %>
            </select>

            <select value="<% alternative %>">
              <%# alternatives %>
                <option value="<% . %>"><% . %></option>
              <%/ alternatives %>
            </select>
          </div>

          <button class="btn btn-primary" disabled="<% !canSearch(waypoints) %>" on-click="findRoute">Find route</button>
        </footer>
      </section>

      <%#info%>
      <section>
        <div class="inner">
          <%# waypoints:i %>
            <%# i %> - <%/ i %><% address %>
          <%/ waypoints %>
          <br><strong><% info.km %> km</strong>
        </div>
      </section>
      <%/info%>
    </script>
    <div id="map"></div>

    <script id="address-popup" type="text/ractive">
      <%#address%><% . %><br><%/address%>
      <span style="font-size:11px; color:#777"><% format(latlng.lat) %>, <% format(latlng.lng) %></span><br><br>
      <a href="" on-click="setFrom">Directions from here</a><br>
      <a href="" on-click="setTo">Directions to here</a>
    </script>

    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyDrM2ViHjiB7scXKhBXGoVBZb_lytvefNc&amp;sensor=false"></script>
    <script src="/static/js/vendors/leaflet/leaflet.js"></script>
    <script src="//api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.standalone.js"></script>
    <script src="//d3js.org/d3.v3.js"></script>
    <script src="/static/js/vendors/Ractive.js"></script>
    <script src="/static/js/vendors/superagent.js"></script>
    <script src="/static/build/app.js"></script>
  </body>
</html>
