<!DOCTYPE html>
<html>
  <head>
    <title>BRouter Online</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/static/js/vendors/leaflet/leaflet.css">
    <link rel="stylesheet" href="/static/build/app.css">
  </head>
  <body>
    <script id="toolbox" type="text/ractive">
      <section>
        <label>
          <input type="text" name="start" placeholder="from" value="<% source %>" on-keydown="search">
        </label>
        <label>
          <input type="text" name="finish" placeholder="destination" value="<% destination %>" on-keydown="search">
        </label>
      </section>

      <%#info%>
      <section>
        <label>
          <span class="glyphicon glyphicon-info-sign"></span>
          Distance: <strong><% info.km %> km</strong>
        </label>
      </section>
      <%/info%>
    </script>
    <div id="map"></div>

    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyDrM2ViHjiB7scXKhBXGoVBZb_lytvefNc&amp;sensor=false"></script>
    <script src="//cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
    <script src="//api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.standalone.js"></script>
    <script src="/static/js/vendors/Ractive.js"></script>
    <script src="/static/js/vendors/superagent.js"></script>
    <script src="/static/build/app.js"></script>
  </body>
</html>