<!DOCTYPE html>
<html>
  <head>
    <title>BRouter Online</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/static/js/vendors/leaflet/leaflet.css">
    <link rel="stylesheet" href="/static/js/vendors/leaflet-elevation/Leaflet.Elevation-0.0.2.css">
    <link rel="stylesheet" href="/static/js/vendors/leaflet-zoomslider/L.Control.Zoomslider.css">
    <link rel="stylesheet" href="/static/js/vendors/leaflet-locate/L.Control.Locate.css">
    <link rel="stylesheet" href="/static/build/app.css">
  </head>
  <body>
    <div id="map"></div>

    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyDrM2ViHjiB7scXKhBXGoVBZb_lytvefNc&amp;sensor=false"></script>
    <script src="/static/js/vendors/leaflet/leaflet.js"></script>
    <script src="//api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.standalone.js"></script>
    <script src="//d3js.org/d3.v3.js"></script>
    <script src="/static/build/app.js"></script>
  </body>
</html>
