<div id="toolbox">
  <section class="main">
    <header>
      <img src="/static/gfx/bike.svg" class="logo"/>
      <strong>BRouter</strong>
    </header>
    <div class="inner">
      <ul>
        {{#waypoints:i}}
        <li>
          <label>
            <input type="text" value="{{ address }}" placeholder="{{#i==0}}Select starting point{{/i}}{{#i==waypoints.length-1}}End point{{/i}}" on-keydown="keydown">
          </label>
        </li>
        {{/waypoints}}
      </ul>
    </div>
    <footer>
      <div class="stretch">
        <select value="{{ profile }}">
          {{#profiles:name}}
            <option value="{{ name }}">{{ . }}</option>
          {{/profiles}}
        </select>

        <select value="{{ alternative }}">
          {{#alternatives}}
            <option value="{{ . }}">{{ . }}</option>
          {{/alternatives}}
        </select>
      </div>

      <button class="btn btn-primary" on-click="findRoute">Find route</button>
    </footer>
  </section>

  {{#info}}
  <section>
    <div class="inner">
      {{#waypoints:i}}
        {{#i}} - {{/i}}{{ address }}
      {{/waypoints}}
      <br><strong>{{ info.km }} km</strong>
    </div>
  </section>
  {{/info}}

  {{#chart}}
  <section class="elevation">
    <svg width="{{ width + 60 }}" height="{{ height + 38 }}">
      <g transform="translate(45, 10)">
        <polyline points="{{ band(data) }}" class="band"/>
        <polyline points="{{ band(data) }} {{width}},{{height}} 0,{{height}}" class="band-fill"/>

        <g class="y-axis">
          <line class="axis" y2="{{ height }}"/>
          <text class="axis-label" x="{{ -height / 2 }}" y="-34" transform="rotate(-90)">Altitude (m)</text>

          {{#yScaleTicks}}
          <g transform="translate(0, {{ yScale(this) }})">
            <line class="tick" x1="-5"/>
            <text class="tick-label" x="-7" dy=".32em">{{ . }}</text> 
          </g>
          {{/yScaleTicks}}
        </g>

        <g class="x-axis" transform="translate(0, {{ yScale(min) }})">
          <line class="axis" x2="{{ width }}"/>
          <text class="axis-label" x="{{ width / 3 }}" y="16" dy="1em">Distance (km)</text>

          {{#xScaleTicks:i}}
          <g transform="translate({{ xScale(this) }}, 0)">
            <line class="tick" y2="5"/>
            <text class="tick-label" y="5" dy="1em">{{ . }}</text> 
          </g>
          {{/xScaleTicks}}
        </g>
      </g>
    </svg>
  </section>
  {{/chart}}

</div>